@font-face {
    font-family: 'lato';
    src: url(./font/Lato.ttf);
}
@font-face {
    font-family: 'lustria';
    src: url(./font/Lustria.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato';
}

header {
    height: 70px;
    width:100% ;
    background-color: #fbd44f;
    padding: 0;
    margin: 0;
}

header img {
    max-width: 100%;
    float: right;
}

header nav {
    height: 70px;
    float: left;
}

header nav ul li {
    list-style-type: none;
    float: left;
}

header nav ul li a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: black;
}

header nav ul li a:hover {
    color: #fe0509;
    font-weight: bold;
    background-color: black;
}

aside {
    clear: both;
    width: 35%;
    padding: 20px;
    border-right:1px solid #fbd44f;
    float: left;
}

aside p {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

aside nav ul li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 30px;
    border-bottom: 2px solid #fe0509;
}

aside nav ul li a {
    text-decoration: none;
    color: #24a04a;
}

aside nav ul li:hover, aside nav ul li a:hover {
    border-bottom: 2px solid #24a04a;
    color: #fe0509;
}

aside form {
    width: 100%;
    padding: 20px;
    border: 2px solid #fe0509;
    border-radius: 10px;
}

aside form h1 {
    text-align: center;
    padding-bottom: 10px;
}

aside form input, aside form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #24a04a;
    color: white;
}

::placeholder {
    color: white;
}

aside form textarea {
    height: 80px;
}

aside button { 
    width: 100%;
    padding: 10px;
    background-color: #24a04a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

aside button:hover { 
    width: 100%;
    padding: 10px;
    background-color: #fe0509;
    color: white;
    border: none;
    cursor: pointer;
}

aside form input:focus, aside form textarea:focus{
    background-color: black;
}

main {
    width: 65% ;
    height: 85vh;
    float: left;
    padding: 20px;
    overflow: auto;
}

main section {
    clear: both;
}

main section h1 {
    text-transform: uppercase;
    border-bottom: 2px solid #fe0509;
}

main section .card {
    width: 30%;
    margin: 10px 10px 50px 10px;
    border: 1px solid #24a04a;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(251, 211, 79, 0.377);
    float: left;
}

main section .card .card-img {
    background-image: url(../img/pizzabg.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    
}

main section .card h2 {
    font-family: 'lato';
    padding-bottom: 5px;
    text-transform: uppercase;
}

main section .card .descripcion {
    font-family: 'latria';
    line-height: 1.5em;
    padding: 20px;
    border-top: 1px solid #24a04a;
}

main section .card button { 
    width: 100%;
    border: none;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

main section .card button:hover {
    background-color: #fbd44f;
}

main section .card .precio {
    text-align: center;
    background-color: #24a04a;
    width: 25%;
    padding: 2px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px 0 10px 0px;
}

footer {
    clear: both;
    width: 100%;
    background-color: #fbd44f;
    margin: 0;
    padding: 30px;
}

footer div {
    width: 100%;
    font-size: 1.3em;
    color: white;

}
.fa-twitter {
    color:black; 
    padding: 3px;
}
.fa-facebook {
    color:black; 
    padding: 3px;
}.fa-instagram {
    color:black; 
    padding: 3px;
}

footer div span {
    float: right;
    color: black;
    font-weight: bold;
    font-size: 0.6em;
    text-transform: uppercase;
}